:root {
	--cursor-height: 1.3em;
	--image-height: 150px;
	--main-color: rgba(27, 27, 50, 0.9);
	--main-color-diluted: rgba(27, 27, 50, 0.7);
	--secondary-color: rgba(42, 42, 64, 0.9);
	--headings-offset: 0%;
	--min-image-height: 100px;
	--img-scale-up: 1.1;
	--book-top-offset: 35px;
	--book-width: 80px;
	--headings-color: #39FF14;
	--headings-font: 'IBM Plex Mono', monospace;
	--text-font: "Fira Code", monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--text-font);
}


body {
	background-color: white;
}

.book > img {
	width:var(--book-width);
	position: absolute;
	/*top: var(--book-top-offset);*/
	top: -15px;
	left: calc(50% - var(--book-width)/2);
	animation: levitate 3s linear 0s infinite alternate;
	z-index: 1;
}

#muggles {
	text-decoration: underline;
}

a {
	text-decoration: underline;
	color: white;
}
.big_title {
	width: fit-content;
	margin: 2em auto;
	background-color: var(--main-color);
	color: white;
	width: 100%;
	text-align: center;
}

.big_title h1 {
	font-family: "Sacramento", cursive;
	position: relative;
	z-index: 3;
}

.contents {
	width: 75%;
	margin: auto;
	padding: 1em;
	animation: glow 1s linear 0 infinite;
	background-color: var(--main-color-diluted);
}

.manifesto_text {
	margin-left: 5%;
	padding: 1em 0;
	color: white;
}

h2, .big_title {
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
	border-radius: 5px;
}

h2 {
	color: var(--headings-color);
	font-family: var(--headings-font);
	background-color: var(--secondary-color);
	/*-webkit-text-stroke: 0.1px blue;*/
}

.quote {
	min-height: calc(var(--image-height) + 25px);
	padding: 1em;
}

.quote img {
	display: inline;
	height: var(--image-height);
	float: left;
	margin: 0 0.5em;
	border-radius: 5%;
}

.quote img:hover {
	animation: grow 0.3s linear 0s 1 forwards;
}

.short_description .quote {
	min-height: fit-content;
	margin-bottom: 2em;
}

.quote blockquote {
	display: inline;
}

blockquote:after {
	content: '"';
}

blockquote:before {
	content: '"';
}

.author:before {
	content: "-";
}
.author {
	width: fit-content;
	float: right;
}

.headers {
	position: relative;
	/* font-family: "Fira Mono", monospace; */
}

.bar {
	position: absolute;
	top: calc(50% - var(--cursor-height) / 2);
	left: calc(var(--headings-offset));
	width: 2px;
	height: var(--cursor-height);
	background-color: white;
}

.bar.one {
	animation: blink 1s linear 0s infinite normal,
		cursor_move 17s step-end 0s infinite normal;
}

.bar.two {
	animation: blink 1s linear 0s infinite normal,
		cursor_move 17s step-end 1.3s infinite normal;
}

.bar.three {
	animation: blink 1s linear 0s infinite normal,
		cursor_move 17s step-end 3.1s infinite normal;
}

.bar.four {
	animation: blink 1s linear 0s infinite normal,
		cursor_move 17s step-end 0.3s infinite normal;
}

@keyframes blink {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}

@keyframes cursor_move {
	0% {
		left: calc(1.5em + var(--headings-offset));
	}
	20% {
		left: calc(4.5em + var(--headings-offset));
	}
	40% {
		left: calc(3em + var(--headings-offset))
	}
	60% {
		left: calc(var(--headings-offset))
	}
	80% {
		left: calc(6em + var(--headings-offset))
	}

	100% {
		left: calc(1.5em + var(--headings-offset))
	}
}

@keyframes glow {
	0% {
		border: none;
	}

	100% {
		border: 1px solid white;
	}
}

@keyframes grow {
	from {
		transform: none;
	}
	to {
		transform: scale(var(--img-scale-up));
	}
}

@keyframes levitate {
	0% {
		transform: none;
		top: -25px;
	}

	25% {
		transform: rotate(-10deg);
	}

	75% {
		transform: rotate(10deg);
	}

	100% {
		transform: none;
		top: 15px;
	}
}

@media screen and (max-width: 650px) {
	:root {
		--headings-offset: 35%;
	}

	.contents {
		width: 98%;
	}
	h1,
	h2 {
		width: 100%;
		text-align: center;
		margin: auto;
	}
}

@media screen and (max-width: 400px) {
	:root {
		--img-scale-up: 1.6;
	}
	.quote {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.quote img {
		width: 100px;
		height: auto;
		margin-bottom: 1em;
		/*width: auto;*/
	}


	.quote .author {
		margin-left: auto;
	}
}

.code_of_conduct p:before {
	content: "* ";
}

.code_of_conduct p {
	margin-bottom: 0.6em;
}

#particles-js {
	top: 0;
	position: fixed;
	background-color: var(--secondary-color);
	width: 100%;
	height: 100%;
	z-index: -1;
}